/* Comment in CSS */

ul {
  color : #6b33f9;
  font-size : 20px;
}

.ul-style {
  color : orange;
}

#unique-ul-style {
  color : green;
}

.mySpan {
  display : none;
}

#white-button {
	height: 4em;
	width: 6em;
	background-color: "white";
}

#hidden-paragraph {
	display: none;
}

#number-button {
	height: 4em;
	width: 6em;
}
.main {
	background-color : "blue";
}